@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<RecipePage>
@{
    Layout = "~/Views/Layouts/RootLayout.cshtml";
}

<section>
    <h1>@(Model.Heading.IsNullOrWhiteSpace() ? Model.Name : Model.Heading)</h1>
</section>

<section>
    <div>@Model.Description</div>
</section>

@* TODO - Abstract this into view model *@
@* TODO - Add default headings *@
<section>
    @foreach (var ingredientsSection in Model.Ingredients.Select(bl => bl.Content).Cast<IngredientsSection>())
    {
        <div>
            <h2>@ingredientsSection.Heading</h2>
            @foreach (var ingredient in ingredientsSection.Ingredients.Select(bl => bl.Content).Cast<Ingredient>())
            {
                <dl>
                    <dt>@ingredient.Description</dt>
                    <dd>@ingredient.Measurement</dd>
                </dl>
            }
        </div>
    }
</section>

@* TODO - Abstract this into view model *@
@* TODO - Add default headings *@
<section>
    @foreach (var methodSection in Model.Method.Select(bl => bl.Content).Cast<MethodSection>())
    {
        <div>
            <h2>@methodSection.Heading</h2>
            <ol>
                @foreach (var step in methodSection.Steps.Select(bl => bl.Content).Cast<Method>())
                {
                    <li>@step.Description</li>
                }
            </ol>
        </div>
    }
</section>